.dashboard-content676767 {
  display: flex;
  align-items: center;
}



.dashboard-content676767 .search {
  margin-left: auto;
}


table {
  width: 100%;
  border-collapse: collapse;
}


td {
  padding: 12px;
  font-size: 13px;

}

.teacher-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.teacher-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.teacher-name p {
  margin: 0;
}
