.dashboard {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px 20px;
  border-radius: 12px;
  margin: 20px;
}

.dashboard-row {
  display: flex;
  
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.dashboard-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
}

.search {
  width: 300px;
  height: 40px;
  
  
  border-radius: 10px;
  outline: none;
 
}


.message {
  margin-left: auto;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}



.profile-img img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cards {
  background-color: #cfceff;
  width: 180px;
  height: 150px;
  border-radius: 14px;
  padding: 16px;

}



.dashboard-content2 img {
  width: 45%;
  border-radius: 12px;
}

.dashboard-content3 {

  padding: 20px;
  border-radius: 14px;
  flex: 1;
}



.dashboard-content4 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  padding: 20px;
  border-radius: 14px;
}

.dashboard-content5 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;

}

.dashboard-content5 img {
  width: 44px;
  height: 44px;
  border-radius: 10px;
}

.dashboard-content5 p {
  margin: 0;
  font-size: 13px;
}

.dashboard-content6 {

  padding: 20px;
  border-radius: 14px;
}

.calendar {

  padding: 20px;
  border-radius: 14px;
}

.calendar p {
  display: inline-block;
  width: 13%;
  text-align: center;
  margin: 0;
  font-size: 13px;

}

.calendar h3 {
  margin: 14px 0 10px;
}

.calendar img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.calendar-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.calendar-content img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.calendar-content h3 {
  margin: 0;
}

.calendar-content p {
  margin: 0;
  font-size: 13px;

}
