.left-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;

  padding: 24px 16px;
}

.left-nav ul {
  list-style: none;
}

.left-nav a {
  display: block;

  text-decoration: none;
}

.App {
  padding-left: 220px;
}
